PORT=6001
MONGO_URI=mongodb://localhost:27017/user_managment
JWT_SECRET=jwt_secret_here
NODE_ENV=development
ADMIN_EMAIL=admin_email_here
ADMIN_PASS=admin_password_here
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret